@import "tailwindcss";

@source "../app";
@source "../features";

:root {
  --background: #fbf9ff;
  --foreground: #18181b;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
}